// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: to-rem(32) to-rem(48);
  margin-bottom: to-rem(150);
}
