// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: to-rem(24);
  position: relative;

  & > * {
    flex-shrink: 0;
  }

  @include breakpoint('medium') {
    gap: to-rem(62);

    .btn--menu {
      display: none;
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: z('dropdown');
}
