// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.btn {
  display: inline-block;
  line-height: 1;
  font-size: to-rem(14);
  background: none;
  border: none;
  color: clr('neutral');
}
