// -----------------------------------------------------------------------------
// This file contains all styles related to the dropbox component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.dropbox {
  *:focus-visible {
    outline: none;
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  position: relative;

  &[open] &__title::after {
    content: url(../images/icon-arrow-up.svg);
  }

  &__title {
    cursor: pointer;
    position: relative;
    padding-inline-end: to-rem(18);

    &:hover {
      color: clr('neutral', 500);
    }

    &::marker {
      content: '';
      display: none;
    }

    &::after {
      content: url(../images/icon-arrow-down.svg);
      font-size: to-rem(6);
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);

      margin-inline-start: to-rem(8);
    }
  }

  &__list {
    @include breakpoint('small') {
      position: absolute;
      top: calc(100% + to-rem(24));

      &--align-right {
        right: 0;
      }
    }

    list-style: none;
    padding: to-rem(24) to-rem(24) to-rem(4);

    display: flex;
    flex-direction: column;
    gap: to-rem(24);
  }
}
