// -----------------------------------------------------------------------------
// This file contains all styles related to the dropbox component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.dropbox {
  *:focus-visible {
    outline: none;
    text-decoration: underline;
    text-underline-offset: 8px;
  }

  position: relative;

  &[open] &__title::after {
    content: url(../images/icon-arrow-up.svg);
  }

  &__title {
    cursor: pointer;
    position: relative;
    padding-inline-end: to-rem(18);
    text-align: start;

    &:hover {
      color: clr('neutral', 500);
    }

    &::marker {
      content: '';
      display: none;
    }

    &::after {
      content: url(../images/icon-arrow-down.svg);
      font-size: to-rem(6);
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);

      margin-inline-start: to-rem(8);
    }
  }

  &__list {
    list-style: none;
    padding-block: to-rem(24) to-rem(4);
    margin-left: to-rem(24);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: to-rem(24);

    @include breakpoint('medium') {
      position: absolute;
      top: calc(100% + to-rem(20));

      gap: to-rem(16);
      padding: to-rem(24);
      margin-left: 0;
      width: max-content;

      background-color: clr('neutral', 300);
      border-radius: to-rem(10);
      box-shadow: $shadow-smooth;

      &--align-right {
        right: 0;
        left: auto;
      }
    }
  }
}
