/**
 * Basic typography style for copy text
 */

@use '../abstracts/' as *;

body {
  font-size: minmax-font(16, 18);
  font-weight: 500;
  font-family: $ff-primary;
  line-height: 1.6;
  text-align: center;
  color: clr('neutral', 400);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

input,
input::placeholder {
  font-size: minmax-font(12, 16);
}
