/**
 * Basic typography style for copy text
 */

@use '../abstracts/' as *;

body {
  font-size: minmax-font(12, 20);
  font-family: $ff-primary;
  color: clr('neutral', 400);
}

h1,
.h1 {
  font-size: minmax-font(24, 52);
  font-weight: 300;
  color: clr('neutral', 500);
  letter-spacing: calc(-4 * 0.01em);
}

input,
input::placeholder {
  font-size: minmax-font(12, 16);
}
